services:
  api:
    build: .
    command: bash -c "python manage.py migrate && gunicorn aetheranime.wsgi:application --bind  0.0.0.0:8000"
    restart: always
    volumes:
      - static_volume:/aetheranime_backend/staticfiles
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: aetheranime1
      POSTGRES_USER: aetheranime
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql15/data/


volumes:
  postgres_data:
  static_volume:

#networks:
#  default:
#    driver: bridge